/* custom.scss */
/* change theme colors */
$primary: #f9ab00; // Blue from Google's palette
$secondary: #5f6368; // Can be kept as neutral grey
$success: #34a853;  // Consider replacing with Google's green: #34A853
$info: #4285f4;     // Consider replacing with a lighter blue from Google's palette
$warning: #f9ab00;  // Can be kept for similar functionality
$danger: #ea4335;  // Consider replacing with Google's red: #EA4335

/* end custom.scss */
$card-border-radius: 40px;
$card-spacer-x: 25px;
$card-spacer-y: 25px;
@import '~bootstrap/scss/bootstrap.scss';
